In [1]:
from io import StringIO
import pandas as pd
import os
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [2]:
engine = db.create_engine("mysql://root:root@192.168.149.165:3310/retail_db")
conn = engine.connect()

KeyboardInterrupt:

In [ ]:
customers_df = pd.read_sql_query(text('SELECT * FROM customers'), con=conn)
customers_df.head()

#### Cloud Storage

In [2]:
from google.cloud.storage import Client

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/user/app/fresh-bloom-372404-c792e5b41e7f.json"

In [4]:
client = Client()

bucket = client.get_bucket('datalake-us-retail')
blob_departments = bucket.get_blob('landing/departments')
downloaded_departments = blob_departments.download_as_text(encoding="utf-8")
departments_df = pd.read_csv(StringIO(downloaded_departments))

In [5]:
departments_df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [6]:
blob_categories = bucket.get_blob('landing/categories')
downloaded_categories = blob_categories.download_as_text(encoding="utf-8")
categories_df = pd.read_csv(StringIO(downloaded_categories))

In [7]:
categories_df

    category_id  category_department_id         category_name
0             1                       2              Football
1             2                       2                Soccer
2             3                       2   Baseball & Softball
3             4                       2            Basketball
4             5                       2              Lacrosse
5             6                       2      Tennis & Racquet
6             7                       2                Hockey
7             8                       2           More Sports
8             9                       3      Cardio Equipment
9            10                       3     Strength Training
10           11                       3   Fitness Accessories
11           12                       3          Boxing & MMA
12           13                       3           Electronics
13           14                       3        Yoga & Pilates
14           15                       3     Training by Sport
15           16                       3       As Seen on  TV!
16           17                       4                Cleats
17           18                       4        Men's Footwear
18           19                       4      Women's Footwear
19           20                       4        Kids' Footwear
20           21                       4        Featured Shops
21           22                       4           Accessories
22           23                       5         Men's Apparel
23           24                       5       Women's Apparel
24           25                       5         Boys' Apparel
25           26                       5        Girls' Apparel
26           27                       5           Accessories
27           28                       5            Top Brands
28           29                       5         Shop By Sport
29           30                       6      Men's Golf Clubs
30           31                       6    Women's Golf Clubs
31           32                       6          Golf Apparel
32           33                       6            Golf Shoes
33           34                       6     Golf Bags & Carts
34           35                       6           Golf Gloves
35           36                       6            Golf Balls
36           37                       6           Electronics
37           38                       6      Kids' Golf Clubs
38           39                       6             Team Shop
39           40                       6           Accessories
40           41                       6              Trade-In
41           42                       7     Bike & Skate Shop
42           43                       7      Camping & Hiking
43           44                       7    Hunting & Shooting
44           45                       7               Fishing
45           46                       7  Indoor/Outdoor Games
46           47                       7               Boating
47           48                       7          Water Sports
48           49                       8                   MLB
49           50                       8                   NFL
50           51                       8                   NHL
51           52                       8                   NBA
52           53                       8                  NCAA
53           54                       8                   MLS
54           55                       8  International Soccer
55           56                       8        World Cup Shop
56           57                       8           MLB Players
57           58                       8           NFL Players

#### Azure Datalake

In [9]:
from azure.storage.blob import ContainerClient

In [10]:
conn_str = "BlobEndpoint=https://adlsdatapath.blob.core.windows.net/;QueueEndpoint=https://adlsdatapath.queue.core.windows.net/;FileEndpoint=https://adlsdatapath.file.core.windows.net/;TableEndpoint=https://adlsdatapath.table.core.windows.net/;SharedAccessSignature=sv=2021-12-02&ss=bfqt&srt=sco&sp=rwdlacupyx&se=2023-06-01T10:33:16Z&st=2023-03-17T02:33:16Z&spr=https&sig=14f9a42cRquiSn5bpy4dbLbWVeH2tRonE2AsedPIluw%3D"
container = "datalake"

container_client = ContainerClient.from_connection_string(
    conn_str=conn_str, 
    container_name=container
)

In [11]:
downloaded_blob = container_client.download_blob('landing/departments')
departments_df = pd.read_csv(StringIO(downloaded_blob.content_as_text()))
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [12]:
downloaded_blob = container_client.download_blob('landing/categories')
categories_df = pd.read_csv(StringIO(downloaded_blob.content_as_text()))
categories_df.head()

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse

#### MongoDB

In [15]:
from pymongo import MongoClient
from pandas import DataFrame

def get_database():

    CONNECTION_STRING = "mongodb+srv://m001-student:mCxRoc3yh6nf2Xyv@sandbox.okkbl.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)

    return client['retail_db']

In [16]:
dbname = get_database()
 
# Create a new collection
collection_name = dbname["departments"]
 
departments = collection_name.find({})

departments_df = DataFrame(departments)

departments_df.head()

                        _id  department_id department_name
0  6413d9950f370147dfe01763              2         Fitness
1  6413d9950f370147dfe01764              3        Footwear
2  6413d9950f370147dfe01765              4         Apparel
3  6413d9950f370147dfe01766              5            Golf
4  6413d9950f370147dfe01767              6        Outdoors

In [17]:
dbname = get_database()
 
# Create a new collection
collection_name = dbname["categories"]
 
categories = collection_name.find({})

categories_df = DataFrame(categories)

categories_df.head()

,_id,category_id,category_department_id,category_name
0,6413d9920f370147dfe01728,1,2,Football
1,6413d9920f370147dfe01729,2,2,Soccer
2,6413d9920f370147dfe0172a,3,2,Baseball & Softball
3,6413d9920f370147dfe0172b,4,2,Basketball
4,6413d9920f370147dfe0172c,5,2,Lacrosse